body {
    background-color: #121212;
    /* Negru Spotify */
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.btn-spotify {
    display: inline-block;
    background-color: #e50991;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 20px;
    transition: transform 0.2s;
}

.btn-spotify:hover {
    transform: scale(1.05);
    background-color: #e50991;
}

.logo {
    color: #e50991;
    font-size: 3rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
    transition: color 0.3s;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #e50991;
    
}

td{
    padding: 30px;
}