<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Connectify - Prietenii Mei</title>
    <link rel="icon" type="/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        {% include 'header.html' %}

        <main>
            <h2>Lista de prieteni</h2>
            
            <p style="margin-bottom: 20px;">
                Vrei să adaugi pe cineva nou? 
                <b><a href="{{ url_for('search_users') }}" style="color: #e50991; text-decoration: underline;">Caută utilizatori aici.</a></b>
            </p>
            
            <hr>

            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div style="padding: 10px; margin-bottom: 20px; border-radius: 8px; background-color: #ff3333; color: white; font-weight: bold;">
                      {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            {% if friends %}
                <ul style="list-style: none; padding: 0;">
                    {% for friend in friends %}
                        <li style="background: #e50991; margin-bottom: 10px; padding: 15px; border-radius: 8px; display: flex; justify-content: space-between; align-items: center;">
                            <div style="text-align: left;">
                                <strong>{{ friend.display_name if friend.display_name else "Utilizator fără nume" }}</strong>
                                <br>
                                <small style="color: #ffffff;">{{ friend.email }}</small>
                            </div>
                            
                            <a href="{{ url_for('view_friend_profile', friend_id=friend.id) }}" 
                               class="fundal-roz" 
                               style="font-size: 13px; font-weight: bold; background: #121212; color: white; padding: 8px 16px; border-radius: 20px; text-decoration: none; transition: 0.2s;">
                               Vezi Activitate
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Încă nu ai prieteni adăugați în listă.</p>
            {% endif %}
        </main>
    </div>
</body>
</html>