<header>
    <div>
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='logo_connectify.png') }}" 
                 alt="Connectify Logo" 
                 style="height: 80px; width: auto;">
        </a>
    </div>
    <nav>
        <a href="{{ url_for('dashboard') }}">Profil</a> |
        <a href="{{ url_for('search_songs') }}">Caută Cântece</a> | 
        <a href="{{ url_for('view_friends') }}">Listă Prieteni</a> |
        <a href="{{ url_for('view_requests') }}">Cereri Prietenie</a>
    </nav>
</header>