<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Connectify - Home</title>
    <!-- legatura cu fisierul CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1 class="logo">Connectify</h1>
        </header>
        
        <main>
            <section class="hero">
                <h1>Welcome to <b>Connectify!</b></h1>
                <p>Creează-ți un cont pentru a vedea ce ascultă prietenii tăi și pentru a acorda note melodiilor preferate.</p>
                
                <div class="auth-buttons" style="margin-top: 20px;">
                    <!-- Buton pentru Creare Cont Nou -->
                    <a href="{{ url_for('signup') }}" class="btn-primary" style="margin-right: 10px;">
                        Creează Cont (Sign Up)
                    </a>
                    
                    <!-- Buton pentru Logare in contul existent -->
                    <a href="{{ url_for('login_app') }}" class="btn-secondary">
                        Loghează-te (Login)
                    </a>
                </div>
            </section>
        </main>

        <footer>
            <p>&copy; 2026 Connectify. Toate drepturile rezervate.</p>
        </footer>
    </div>
</body>
</html>