<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="UTF-8">
    <title>Connectify - Home</title>
    <link rel="icon" type="/x-icon" href="static/favicon.ico">
    <!-- legatura cu fisierul CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        {% include 'header.html' %}

        <main>
            <section class="hero">
                <h1>Welcome to <b>Connectify!</b></h1>
                {% if session.get('user_id') %}
                <!-- Ce vede utilizatorul dacă ESTE logat -->
                <p>Ești conectat! <a href="{{ url_for('dashboard') }}" class="btn-primary">Intră în Profilul Meu</a></p>
                        Mergi la Dashboard
                    </a> pentru a vedea noutățile.</p>
                <div class="auth-buttons" style="margin-top: 20px;">
                    <a href="{{ url_for('logout') }}" class="btn-secondary" style="margin-left: 10px; opacity: 0.8;">
                        Logout
                    </a>
                </div>
                {% else %}
                <p>Creează-ți un cont pentru a vedea ce ascultă prietenii tăi și pentru a acorda note melodiilor
                    preferate.</p>

                <div class="auth-buttons" style="margin-top: 20px;">
                    <!-- Buton pentru Creare Cont Nou -->
                    <a href="{{ url_for('signup') }}" class="btn-primary" style="margin-right: 10px;">
                        Creează Cont
                    </a>

                    <!-- Buton pentru Logare in contul existent -->
                    <a href="{{ url_for('login_app') }}" class="btn-secondary">
                        Loghează-te
                    </a>
                </div>
                {% endif %}
            </section>
        </main>
    </div>
</body>

</html>